# Configurações do Banco de Dados
# Substitua USER, PASSWORD e DB_NAME pelas suas credenciais do MySQL
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/auth_db"

# Chave secreta para assinar os tokens JWT (use uma string longa e aleatória)
JWT_SECRET="sua_chave_secreta_muito_segura_aqui_123"

# Porta do servidor
PORT=3001
